Project.Business/Connected Services/ProxyCupones/wsCupones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaCupon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FolioCupon" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCuponResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaCuponResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dtFecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dSaldo" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="sEstatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="iTiendaVendida" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="iCodigoPromocion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lSesion" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:element name="RealizarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoTipoTrxCab" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="folioVenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCajero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="folioCupon" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transaccion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="importe" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarVentaResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaCuponSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaCupon" />
  </wsdl:message>
  <wsdl:message name="ConsultaCuponSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaCuponResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarVenta" />
  </wsdl:message>
  <wsdl:message name="RealizarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarVentaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCuponesSoap">
    <wsdl:operation name="ConsultaCupon">
      <wsdl:input message="tns:ConsultaCuponSoapIn" />
      <wsdl:output message="tns:ConsultaCuponSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <wsdl:input message="tns:RealizarVentaSoapIn" />
      <wsdl:output message="tns:RealizarVentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCuponesSoap" type="tns:wsCuponesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaCupon">
      <soap:operation soapAction="http://tempuri.org/ConsultaCupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <soap:operation soapAction="http://tempuri.org/RealizarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCuponesSoap12" type="tns:wsCuponesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaCupon">
      <soap12:operation soapAction="http://tempuri.org/ConsultaCupon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <soap12:operation soapAction="http://tempuri.org/RealizarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCupones">
    <wsdl:port name="wsCuponesSoap" binding="tns:wsCuponesSoap">
      <soap:address location="http://pruebas-mm:8089/WSPOS/wsCupones.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCuponesSoap12" binding="tns:wsCuponesSoap12">
      <soap12:address location="http://pruebas-mm:8089/WSPOS/wsCupones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>