Project.Business/Connected Services/ProxyNotaCredito/wsNotaCredito1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaNota">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FolioCupon" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNotaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaNotaResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dtFecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dSaldo" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="sEstatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="iTiendaVendida" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lSesion" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:element name="RealizarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoTipoTrxCab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folioVenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCajero" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="folioCupon" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transaccion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="importe" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarVentaResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCodeAlgorithm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechadate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tienda" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="caja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="folio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCodeAlgorithmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCodeAlgorithmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaTransferenciaBancaria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="importeVenta" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaTransferenciaBancariaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificaTransferenciaBancariaResult" type="tns:VerificacionTransferenciaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VerificacionTransferenciaResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AplicaTransferenciaBancaria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="importeVenta" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoEmpleado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="folioVenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AplicaTransferenciaBancariaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AplicaTransferenciaBancariaResult" type="tns:VerificacionTransferenciaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaNotaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaNota" />
  </wsdl:message>
  <wsdl:message name="ConsultaNotaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaNotaResponse" />
  </wsdl:message>
  <wsdl:message name="RealizarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarVenta" />
  </wsdl:message>
  <wsdl:message name="RealizarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="getCodeAlgorithmSoapIn">
    <wsdl:part name="parameters" element="tns:getCodeAlgorithm" />
  </wsdl:message>
  <wsdl:message name="getCodeAlgorithmSoapOut">
    <wsdl:part name="parameters" element="tns:getCodeAlgorithmResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaTransferenciaBancariaSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaTransferenciaBancaria" />
  </wsdl:message>
  <wsdl:message name="VerificaTransferenciaBancariaSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaTransferenciaBancariaResponse" />
  </wsdl:message>
  <wsdl:message name="AplicaTransferenciaBancariaSoapIn">
    <wsdl:part name="parameters" element="tns:AplicaTransferenciaBancaria" />
  </wsdl:message>
  <wsdl:message name="AplicaTransferenciaBancariaSoapOut">
    <wsdl:part name="parameters" element="tns:AplicaTransferenciaBancariaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsNotaCreditoSoap">
    <wsdl:operation name="ConsultaNota">
      <wsdl:input message="tns:ConsultaNotaSoapIn" />
      <wsdl:output message="tns:ConsultaNotaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <wsdl:input message="tns:RealizarVentaSoapIn" />
      <wsdl:output message="tns:RealizarVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCodeAlgorithm">
      <wsdl:input message="tns:getCodeAlgorithmSoapIn" />
      <wsdl:output message="tns:getCodeAlgorithmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificaTransferenciaBancaria">
      <wsdl:input message="tns:VerificaTransferenciaBancariaSoapIn" />
      <wsdl:output message="tns:VerificaTransferenciaBancariaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AplicaTransferenciaBancaria">
      <wsdl:input message="tns:AplicaTransferenciaBancariaSoapIn" />
      <wsdl:output message="tns:AplicaTransferenciaBancariaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsNotaCreditoSoap" type="tns:wsNotaCreditoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaNota">
      <soap:operation soapAction="http://tempuri.org/ConsultaNota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <soap:operation soapAction="http://tempuri.org/RealizarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCodeAlgorithm">
      <soap:operation soapAction="http://tempuri.org/getCodeAlgorithm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaTransferenciaBancaria">
      <soap:operation soapAction="http://tempuri.org/VerificaTransferenciaBancaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AplicaTransferenciaBancaria">
      <soap:operation soapAction="http://tempuri.org/AplicaTransferenciaBancaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsNotaCreditoSoap12" type="tns:wsNotaCreditoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaNota">
      <soap12:operation soapAction="http://tempuri.org/ConsultaNota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarVenta">
      <soap12:operation soapAction="http://tempuri.org/RealizarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCodeAlgorithm">
      <soap12:operation soapAction="http://tempuri.org/getCodeAlgorithm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaTransferenciaBancaria">
      <soap12:operation soapAction="http://tempuri.org/VerificaTransferenciaBancaria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AplicaTransferenciaBancaria">
      <soap12:operation soapAction="http://tempuri.org/AplicaTransferenciaBancaria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsNotaCredito">
    <wsdl:port name="wsNotaCreditoSoap" binding="tns:wsNotaCreditoSoap">
      <soap:address location="http://localhost:42758/wsNotaCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="wsNotaCreditoSoap12" binding="tns:wsNotaCreditoSoap12">
      <soap12:address location="http://localhost:42758/wsNotaCredito.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>