Project.Business/Connected Services/ProxyDescuentoMercanciaDaniada/wsMercanciaDanada1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VenderSKU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uLSesion" type="s:unsignedLong" />
            <s:element minOccurs="1" maxOccurs="1" name="iCantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sSKU" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iTransaccion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VenderSKUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VenderSKUResult" type="tns:VentaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VentaResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarSKU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCaja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCajero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iCantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sSKU" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarSKUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarSKUResult" type="tns:MercanciaResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MercanciaResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dPtjDescuento" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="uLSesion" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VenderSKUSoapIn">
    <wsdl:part name="parameters" element="tns:VenderSKU" />
  </wsdl:message>
  <wsdl:message name="VenderSKUSoapOut">
    <wsdl:part name="parameters" element="tns:VenderSKUResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSKUSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarSKU" />
  </wsdl:message>
  <wsdl:message name="ConsultarSKUSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarSKUResponse" />
  </wsdl:message>
  <wsdl:portType name="wsMercanciaDanadaSoap">
    <wsdl:operation name="VenderSKU">
      <wsdl:input message="tns:VenderSKUSoapIn" />
      <wsdl:output message="tns:VenderSKUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSKU">
      <wsdl:input message="tns:ConsultarSKUSoapIn" />
      <wsdl:output message="tns:ConsultarSKUSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsMercanciaDanadaSoap" type="tns:wsMercanciaDanadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VenderSKU">
      <soap:operation soapAction="http://tempuri.org/VenderSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSKU">
      <soap:operation soapAction="http://tempuri.org/ConsultarSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsMercanciaDanadaSoap12" type="tns:wsMercanciaDanadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VenderSKU">
      <soap12:operation soapAction="http://tempuri.org/VenderSKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSKU">
      <soap12:operation soapAction="http://tempuri.org/ConsultarSKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsMercanciaDanada">
    <wsdl:port name="wsMercanciaDanadaSoap" binding="tns:wsMercanciaDanadaSoap">
      <soap:address location="http://pruebas-mm:8089/wsPOS/wsMercanciaDanada.asmx" />
    </wsdl:port>
    <wsdl:port name="wsMercanciaDanadaSoap12" binding="tns:wsMercanciaDanadaSoap12">
      <soap12:address location="http://pruebas-mm:8089/wsPOS/wsMercanciaDanada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>