Project.Business/Connected Services/ProxyVentaEmpleado/WSvENTAeMPLEADO1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RealizarVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoEmpresa" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroNomina" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="montoVenta" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="montoFinanciado" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="folioVenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoTransaccion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaVenta" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizarVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizarVentaResult" type="tns:InfoVenta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InfoVenta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="gSesion" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoEmpresa" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroNomina" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarEmpleadoResult" type="tns:InfoEmpleado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InfoEmpleado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sMaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sNombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dCredito" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="iNumeroNomina" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarEmpleadoTCMM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoEmpresa" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroNomina" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoTienda" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoCaja" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarEmpleadoTCMMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarEmpleadoTCMMResult" type="tns:InfoEmpleado" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RealizarVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RealizarVenta" />
  </wsdl:message>
  <wsdl:message name="RealizarVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RealizarVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarEmpleado" />
  </wsdl:message>
  <wsdl:message name="ConsultarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarEmpleadoTCMMSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarEmpleadoTCMM" />
  </wsdl:message>
  <wsdl:message name="ConsultarEmpleadoTCMMSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarEmpleadoTCMMResponse" />
  </wsdl:message>
  <wsdl:portType name="wsVentaEmpleadoSoap">
    <wsdl:operation name="RealizarVenta">
      <wsdl:input message="tns:RealizarVentaSoapIn" />
      <wsdl:output message="tns:RealizarVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleado">
      <wsdl:input message="tns:ConsultarEmpleadoSoapIn" />
      <wsdl:output message="tns:ConsultarEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleadoTCMM">
      <wsdl:input message="tns:ConsultarEmpleadoTCMMSoapIn" />
      <wsdl:output message="tns:ConsultarEmpleadoTCMMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsVentaEmpleadoSoap" type="tns:wsVentaEmpleadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarVenta">
      <soap:operation soapAction="http://tempuri.org/RealizarVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleado">
      <soap:operation soapAction="http://tempuri.org/ConsultarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleadoTCMM">
      <soap:operation soapAction="http://tempuri.org/ConsultarEmpleadoTCMM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsVentaEmpleadoSoap12" type="tns:wsVentaEmpleadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizarVenta">
      <soap12:operation soapAction="http://tempuri.org/RealizarVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/ConsultarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleadoTCMM">
      <soap12:operation soapAction="http://tempuri.org/ConsultarEmpleadoTCMM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsVentaEmpleado">
    <wsdl:port name="wsVentaEmpleadoSoap" binding="tns:wsVentaEmpleadoSoap">
      <soap:address location="http://pruebas-mm:8888/WSvENTAeMPLEADO.ASMX" />
    </wsdl:port>
    <wsdl:port name="wsVentaEmpleadoSoap12" binding="tns:wsVentaEmpleadoSoap12">
      <soap12:address location="http://pruebas-mm:8888/WSvENTAeMPLEADO.ASMX" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>