Project.Business/Connected Services/ProxyTiempoAire/transact.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTRequestID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTRequestIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTRequestIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTRequestID_A">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTRequestID_AResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTRequestID_AResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TRequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckTransactionResult" type="tns:TResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="transaction_id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="rcode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="rcode_description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="op_account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="op_authorization" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="printData" type="tns:ArrayOfPrintData" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlDevData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPrintData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrintData" nillable="true" type="tns:PrintData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrintData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TRequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="skuCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="op_account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="form_addons" type="tns:Form" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Form">
        <s:complexContent mixed="false">
          <s:extension base="tns:InfoResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="InfoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_moduleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_form" type="tns:ArrayOfElement" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlDevData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="element" nillable="true" type="tns:element" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="element">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_eType" type="tns:elementType" />
          <s:element minOccurs="0" maxOccurs="1" name="m_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_readonly" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="m_input" type="tns:inputElement" />
          <s:element minOccurs="0" maxOccurs="1" name="m_select" type="tns:selectElement" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="elementType">
        <s:restriction base="s:string">
          <s:enumeration value="input" />
          <s:enumeration value="select" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="inputElement">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_iType" type="tns:iType" />
          <s:element minOccurs="1" maxOccurs="1" name="m_iMinValue" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_iMaxValue" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="iType">
        <s:restriction base="s:string">
          <s:enumeration value="texto" />
          <s:enumeration value="numero" />
          <s:enumeration value="dinero" />
          <s:enumeration value="password" />
          <s:enumeration value="submit" />
          <s:enumeration value="fecha" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="selectElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_options" type="tns:ArrayOfOption" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="option" nillable="true" type="tns:option" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="option">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="m_text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_amount" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoTResult" type="tns:TResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSkuList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSkuListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSkuListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="skuCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="op_account" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDevData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="tns:InfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="skuCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="caja" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDevInfoResult" type="tns:DevInfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DevInfoResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_deviceManagerId" type="tns:DeviceManager" />
          <s:element minOccurs="1" maxOccurs="1" name="m_moduleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="xmlDevData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DeviceManager">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="ComponenteG21" />
          <s:enumeration value="CuentaExpressBBVA" />
          <s:enumeration value="RedEfectiva" />
          <s:enumeration value="BancomerTS" />
        </s:restriction>
      </s:simpleType>
      <s:element name="form2_xmlDevData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="form" type="tns:InfoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="form2_xmlDevDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="form2_xmlDevDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TRequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="op_authorization" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTRequestIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetTRequestID" />
  </wsdl:message>
  <wsdl:message name="GetTRequestIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetTRequestIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetTRequestID_ASoapIn">
    <wsdl:part name="parameters" element="tns:GetTRequestID_A" />
  </wsdl:message>
  <wsdl:message name="GetTRequestID_ASoapOut">
    <wsdl:part name="parameters" element="tns:GetTRequestID_AResponse" />
  </wsdl:message>
  <wsdl:message name="CheckTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckTransaction" />
  </wsdl:message>
  <wsdl:message name="CheckTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="DoTSoapIn">
    <wsdl:part name="parameters" element="tns:DoT" />
  </wsdl:message>
  <wsdl:message name="DoTSoapOut">
    <wsdl:part name="parameters" element="tns:DoTResponse" />
  </wsdl:message>
  <wsdl:message name="GetSkuListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSkuList" />
  </wsdl:message>
  <wsdl:message name="GetSkuListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSkuListResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDevInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevInfo" />
  </wsdl:message>
  <wsdl:message name="GetDevInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDevInfoResponse" />
  </wsdl:message>
  <wsdl:message name="form2_xmlDevDataSoapIn">
    <wsdl:part name="parameters" element="tns:form2_xmlDevData" />
  </wsdl:message>
  <wsdl:message name="form2_xmlDevDataSoapOut">
    <wsdl:part name="parameters" element="tns:form2_xmlDevDataResponse" />
  </wsdl:message>
  <wsdl:message name="DoASoapIn">
    <wsdl:part name="parameters" element="tns:DoA" />
  </wsdl:message>
  <wsdl:message name="DoASoapOut">
    <wsdl:part name="parameters" element="tns:DoAResponse" />
  </wsdl:message>
  <wsdl:portType name="transactSoap">
    <wsdl:operation name="GetTRequestID">
      <wsdl:input message="tns:GetTRequestIDSoapIn" />
      <wsdl:output message="tns:GetTRequestIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTRequestID_A">
      <wsdl:input message="tns:GetTRequestID_ASoapIn" />
      <wsdl:output message="tns:GetTRequestID_ASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckTransaction">
      <wsdl:input message="tns:CheckTransactionSoapIn" />
      <wsdl:output message="tns:CheckTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoT">
      <wsdl:input message="tns:DoTSoapIn" />
      <wsdl:output message="tns:DoTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSkuList">
      <wsdl:input message="tns:GetSkuListSoapIn" />
      <wsdl:output message="tns:GetSkuListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDevInfo">
      <wsdl:input message="tns:GetDevInfoSoapIn" />
      <wsdl:output message="tns:GetDevInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="form2_xmlDevData">
      <wsdl:input message="tns:form2_xmlDevDataSoapIn" />
      <wsdl:output message="tns:form2_xmlDevDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoA">
      <wsdl:input message="tns:DoASoapIn" />
      <wsdl:output message="tns:DoASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="transactSoap" type="tns:transactSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTRequestID">
      <soap:operation soapAction="http://tempuri.org/GetTRequestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTRequestID_A">
      <soap:operation soapAction="http://tempuri.org/GetTRequestID_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTransaction">
      <soap:operation soapAction="http://tempuri.org/CheckTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoT">
      <soap:operation soapAction="http://tempuri.org/DoT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkuList">
      <soap:operation soapAction="http://tempuri.org/GetSkuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevInfo">
      <soap:operation soapAction="http://tempuri.org/GetDevInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="form2_xmlDevData">
      <soap:operation soapAction="http://tempuri.org/form2_xmlDevData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoA">
      <soap:operation soapAction="http://tempuri.org/DoA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="transactSoap12" type="tns:transactSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTRequestID">
      <soap12:operation soapAction="http://tempuri.org/GetTRequestID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTRequestID_A">
      <soap12:operation soapAction="http://tempuri.org/GetTRequestID_A" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTransaction">
      <soap12:operation soapAction="http://tempuri.org/CheckTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoT">
      <soap12:operation soapAction="http://tempuri.org/DoT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkuList">
      <soap12:operation soapAction="http://tempuri.org/GetSkuList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevInfo">
      <soap12:operation soapAction="http://tempuri.org/GetDevInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="form2_xmlDevData">
      <soap12:operation soapAction="http://tempuri.org/form2_xmlDevData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoA">
      <soap12:operation soapAction="http://tempuri.org/DoA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="transact">
    <wsdl:port name="transactSoap" binding="tns:transactSoap">
      <soap:address location="http://187.141.15.7/atp_Services/transact.asmx" />
    </wsdl:port>
    <wsdl:port name="transactSoap12" binding="tns:transactSoap12">
      <soap12:address location="http://187.141.15.7/atp_Services/transact.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>